5 proceso/proceso_n8n.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -432,
        -80
      ],
      "id": "38003c81-80a6-4405-a884-d1e866e57d2d",
      "name": "Email Trigger (IMAP)"
    },
    {
      "parameters": {
        "jsCode": "// Ejemplo de asunto: [LISTA] Cliente=ACME | Proveedor=Autofix | Fecha=2025-09-25\nconst s = $json.subject || '';\nconst pick = (k) => (s.match(new RegExp(`${k}\\\\s*=\\\\s*([^|]+)`, 'i'))||[])[1]?.trim() || '';\nconst cliente   = pick('Cliente');\nconst proveedor = pick('Proveedor');\nconst fecha     = pick('Fecha') || new Date().toISOString().slice(0,10);\nconst attachCount = Object.keys($binary || {}).length;\n\nreturn {\n  json: {\n    cliente,\n    proveedor: proveedor?.toUpperCase(),\n    fecha,\n    origen: 'Email',\n    attachCount,\n    isValid: Boolean(cliente && proveedor && attachCount > 0),\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -80
      ],
      "id": "0fbe6564-2fe5-4ec4-92dc-9c543dbbf8c5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb869804-1d9b-49e5-a738-43c9d86e8031",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        -80
      ],
      "id": "33eb19d1-d625-4fcc-8761-01e4336718f3",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1104,
        0
      ],
      "id": "a689533a-ebec-432e-b63b-d1daeb3851a6",
      "name": "Send a message1",
      "webhookId": "16073458-73db-47b5-9e3e-13c07cfc86af"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        -288
      ],
      "id": "d4a40b58-081a-44ae-a969-ed17eee736d4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        880,
        -432
      ],
      "id": "f2105538-e1a9-4f3b-8b73-a81d41c64683",
      "name": "Update a task",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "lSUVozsGavWD0DTm",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1088,
        -432
      ],
      "id": "e78abb60-f7f6-4487-8dc1-1f3bd8c0948d",
      "name": "Send a message2",
      "webhookId": "5f350a82-8f41-4f3a-9911-36a87f52238b"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        -432
      ],
      "id": "dc79a6b2-a88e-4aa7-b9a8-e5fd38f9d9eb",
      "name": "Append or update row in sheet"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        0
      ],
      "id": "8edcacb8-35ef-4b08-a53e-48e10706ac1a",
      "name": "Append or update row in sheet2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a8a13e15-748b-44b7-9203-72931595895c",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        608,
        -288
      ],
      "id": "e13461fe-0434-4613-bf2c-9d1e59801572",
      "name": "If2"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        240,
        -288
      ],
      "id": "d4c4d272-c2a8-4688-a8fa-d3bb552a9739",
      "name": "Create a task1",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "lSUVozsGavWD0DTm",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        896,
        0
      ],
      "id": "97187eb5-2e05-474b-a1e4-9d19dd617f16",
      "name": "Create a task",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "lSUVozsGavWD0DTm",
          "name": "ClickUp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a task1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a task": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Update a task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c3f3de00-4915-4849-9546-418eff58460b",
  "meta": {
    "instanceId": "f323ee6072754c616250434c364b7b71a5eafea86c856217fa914b79223f2805"
  },
  "id": "rJza7o51c5GrEGKj",
  "tags": []
}